name: app test
on:
  push:
  pull_request:

jobs:
  running_tests:
    strategy:
      matrix: 
        os: [ ubuntu-latest ]
        python-version:
          - "3.9"
    name: TESTS
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: mongo-svc
      uses: art049/mongodb-cluster-action@v0

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r app/requirements.txt
        pip install pytest

    - name: Run the application
      run: |
        cd app
        export FLASK_APP=main.py
        flask run &

    - name: Run Python tests
      run: pytest
  docker_build_and_push:
    needs: running_tests  
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: ./app
        push: true
        tags: ${{ github.actor }}/${{ env.IMAGE_NAME }}:${{ github.run_number }}
